---
import Layout from "../layouts/Layout.astro"
import DownloadModal from "../components/DownloadModal"
import DataTable from "../components/DataTable"
---

<Layout title="Data" description="Data files and information">
  <div class="flex flex-col">
    <p>Download</p>
    <DataTable client:only="react" />
    <DownloadModal client:only="react" />
  </div>
</Layout>
