---
import Layout from "../layouts/Layout.astro"
import DownloadModal from "../components/DownloadModal"
---

<Layout title="Data" description="Data files and information">
  <div class="flex">
    <p>Download the LIFE Codebook:</p>
    <DownloadModal client:only="react" />
  </div>
</Layout>
