---
import Layout from "../layouts/Layout.astro"
import DownloadModal from "../components/DownloadModal"
---

<Layout title="Data" description="Data files and information">
  <div class="flex">
    <p>Download a File</p>
    <DownloadModal client:only />
  </div>
</Layout>
