---
import Layout from "../layouts/Layout.astro"
import CircleIcon from "../components/svg/Circle"
import { ReaderIcon } from "@radix-ui/react-icons"
---

<Layout title="Documentation" description="About the Project">
  <a
    href="/map"
    class="flex gap-2 items-end text-primary-500 decoration-primary-500 font-bold mt-6 mb-10"
  >
    <ReaderIcon width="24" height="24" />
    <span> Read the study design </span>
  </a>
</Layout>
