---
import Layout from "../layouts/Layout.astro"
import CardContainer from "../components/CardContainer.astro"
import { getCollection } from "astro:content"
const people = await getCollection("people")
const leadership = people.filter((person) => person.data.type === "Leadership")
const advisors = people.filter((person) => person.data.type === "Advisors")
const support = people.filter((person) => person.data.type === "Supporting Staff")
console.log(people)
---

<Layout title="Staff" description="Our Leadership, Advisors, and Staff">
  <div class="flex flex-col space-y-28">
    <CardContainer title="Leadership" color="text-secondary-blue-500" people={leadership} />
    <CardContainer title="Advisors" color="text-primary-500" people={advisors} />
    <CardContainer title="Supporting Staff" color="text-secondary-brown-500" people={support} />
  </div>
</Layout>
