---
import HeaderLink from "./HeaderLink.astro"
import { SITE_TITLE, LINKS } from "../consts"
---

<header class="m-0 p-3 bg-white shadow">
  <nav class="flex items-center justify-between">
    <h2 class="m-0 text-lg"><a class="text-black hover:text-gray-600 decoration-0" href="/">{SITE_TITLE}</a></h2>
    <div>
      {
        LINKS.map((data) =>
          <HeaderLink href=`/${data}`
                      className="text-lg py-2.5 px-4 text-black decoration-0 hover:text-gray-600"
          >{data.toUpperCase()}</HeaderLink>)
      }
    </div>
  </nav>
</header>
<style>


    nav a.active {
        text-decoration: none;
        border-bottom-color: var(--accent);
    }
</style>
