---
import BaseHead from "../components/BaseHead.astro"
import Header from "../components/Header.astro"
import Footer from "../components/Footer.astro"

interface Props {
  title: string
  description: string
  lede?: string
}

const { title, description, lede } = Astro.props
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>

  <body class="grid grid-cols-1 px-16 xl:px-64">
    <Header />
    <main>
      <article class="max-w-[1000px]">
        <div>
          <div class="flex flex-col gap-3 pb-6 md:w-1/2">
            <h1 class="title">{title}</h1>
            {lede && <h3 class="pb-48">{lede}</h3>}
          </div>
          <hr />
          <slot />
        </div>
      </article>
    </main>
    <Footer />
  </body>
</html>
